Examples:


<h3>EmptyPipe ('empty')</h3>
<p>[1, 2, 3] ->  {{ [1, 2, 3] | empty }} // false</p>
<p>[] -> {{ [] | empty }} // true</p>
<p>  {{ { objects: 'works'} | empty }} // false</p>
<p>  {{ {} | empty }} // true</p>

<h3>FilterPipe ('filter')</h3>
<h3>JoinPipe ('join')</h3>
<p>[1, 2, 3] -> {{ [1, 2, 3] | join: '@' }} // '1@2@3'</p>
<p>['first', 'second', 'third'] -> {{ ['first', 'second', 'third'] | join: '' }} // 'firstsecondthird'</p>

<h3>ReverseElementsPipe ('reverseelements')</h3>
<p>[1, 2, 3] ->{{ [1, 2, 3] | reverseelements }} // [3, 2, 1]</p>


<h3>tally ('tally')</h3>
<p>['apple', 'banana', 'orange', 'tomato', 'apple', 'apple', 'apple', 'banana', 'orange', 'banana', 'orange', 'cucumber'] -> {{['apple', 'banana', 'orange', 'tomato', 'apple', 'apple', 'apple', 'banana', 'orange', 'banana', 'orange', 'cucumber'] | tally | json}}   </p>



<h2>Boolean</h2>
<h3>YesNoPipe ('yesno')</h3>
<p>true | yesno -> {{ true | yesno }}</p>
<p>false | yesno -> {{ false | yesno }}</p>
<p>true | yesno: ['yeah', 'nope'] -> {{ true | yesno: ['yeah', 'nope'] }}</p>
<p>false | yesno: ['yeah', 'nope'] -> {{ false | yesno: ['yeah', 'nope'] }}</p>
<p>undefied | yesno -> {{ undefied | yesno }}</p>
<p>undified | yesno: ['yeah', 'nope', 'maybe'] -> {{ undified | yesno: ['yeah', 'nope', 'maybe'] }}</p>



<h2>Time</h2>

<h3>NowPipe ('now')</h3>
<p>'' | now -> {{ '' | now }}</p>

<h3>TimesincePipe ('timesince')</h3>
<p>Date | timesince -> {{past | timesince}}</p>
<h3>TimeuntilPipe ('timeuntil')</h3>
<p>Date | timeuntil -> {{future | timeuntil}}</p>

